<div class="login-container">
    <div class="login-page">
        <div class="login-form">
            <div class="login-header">
                <h4>Log In</h4>
            </div>
            <div class="login-body mt-5">
                <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
                    <div class="inputBox mt-3">
                        <input type="text" name="firstName" formControlName="firstName"  tabindex="1" id="txtfirstName" required>
                        <span>First Name</span>
                    </div>
                    <div class="inputBox mt-3">
                        <input type="text" name="lastName" formControlName="lastName"  tabindex="1" id="txtlastName" required>
                        <span>Last Name</span>
                    </div>
                    <div class="inputBox mt-3">
                        <input type="email" name="email" formControlName="email"  tabindex="1" id="txtemail" required>
                        <span>Email</span>
                        <em *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a valid email</em>
                        <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
                    </div>
                    <div class="inputBox mt-3">
                        <input type="password" name="password" formControlName="password"  tabindex="1" id="txtpassword" required>
                        <span>Password</span>
                        <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
                    </div>
                    <div class="inputBox mt-3"> 
                        <input type="password" name="password" formControlName="confirm"  tabindex="1" id="txtconfirm" required>
                        <span>Confirm Password</span>
                        <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is required</em>
                        <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
                    </div>
                    <div class="d-grid gap-2 mt-5">
                        <button type="submit" [disabled]="!registerForm.valid" id="btnRegister" 
                         tabindex="4" class="credential-button primary-solid-button">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="details-page">
        <div class="details-page-body">
            <div class="top">
                <h4>Chesed BIKUR CHOLIM</h4>
                <span class="text-italy">Chesed is a cloud based emergency management and preparedness system helping you digitize and improve contingency plans and critical events</span>
            </div>
            <div class="bottom mt-5">
                <img src="./assets/img/login-img.png" alt="login-img">
            </div>
        </div>
    </div>
  </div>
  


<!-- <div class="card">
    <div class="card-body">
        <h1 class="card-title">Register</h1>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>
        <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
            <div class="form-group row">
                <label for="firstName" class="col-form-label col-sm-2">First Name:</label>
                <div class="col-md-5">
                    <input type="text" id="firstName" formControlName="firstName" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-form-label col-sm-2">Last Name:</label>
                <div class="col-md-5">
                    <input type="text" id="lastName" formControlName="lastName" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email:</label>
                <div class="col-md-5">
                    <input type="email" id="email" formControlName="email" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a valid email</em>
                    <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-form-label col-sm-2">Password:</label>
                <div class="col-md-5">
                    <input type="password" id="password" formControlName="password" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirm" class="col-form-label col-sm-2">Confirm Password:</label>
                <div class="col-md-5">
                    <input type="password" id="confirm" formControlName="confirm" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is required</em>
                    <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!registerForm.valid">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

 -->





















<!-- <div class="register-container">
  <div class="register-page">
      <div class="register-form">
          <div class="register-header">
              <h4>Register</h4>
          </div>
          <div class="register-body mt-5">
              <form action="#">
                  <div class="inputBox mt-3">
                      <input type="text" name="" id="usernameInput" required>
                      <span>Username</span>
                  </div>
                  <div class="inputBox mt-3">
                      <input type="text" name="" id="emailInput" required>
                      <span>Email</span>
                  </div>
                  <div class="d-grid gap-2 mt-5">
                      <button type="button" class="credential-button theme-button">Register</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <div class="details-page">
      <div class="details-page-body">
          <div class="top">
              <img src="./assets/img/register-img.png" alt="register-img">
          </div>
          <div class="bottom mt-5">
              <h4>Chesed BIKUR CHOLIM</h4>
              <span>Chesed is a cloud based emergency management and preparedness system helping you digitize and improve contingency plans and critical events</span>
          </div>
      </div>
  </div>
</div> -->
